{% extends "layout.html" %}

{% block title %}
Login
{% endblock %}

{% block content %}
    <div class="container p-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h1 class="text-center mb-4">Log Masuk Akaun</h1>
    
                        <!-- Display flash messages -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                            {% if messages %}
                                {% for category, message in messages %}
                                <div class="alert {% if category == 'error' %}alert-danger{% elif category == 'success' %}alert-success{% endif %}" role="alert">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}

                        <!-- Login form -->
                        <form method="POST" action="{{ url_for('login') }}" class="form-signin">
                            <div class="form-group">
                                <input type="text" id="username" name="username" class="form-control" required placeholder="Nama Pengguna / E-mel Pengguna">
                            </div>
                            <div class="form-group">
                                <input type="password" id="password" name="password" class="form-control" required placeholder="Kata Laluan">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Log Masuk</button>
                        </form>

                        <!-- Register link -->
                        <div class="text-center mt-3">
                            <a href="{{ url_for('register') }}">Tiada Akaun? Daftar Disini</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Additional container for spacing -->
    <div class="container mt-5">
    </div>
{% endblock %}